@font-face {
    font-family: 'Droid Serif';
    src: url('font/DroidSerif.ttf');
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('font/YanoneKaffeesatz-Regular.otf');
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('font/UbuntuMono.ttf');
}

@font-face {
font-family: 'Input Mono';
src: url('font/InputMonoCondensed-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Input Mono';
src: url('font/InputMonoCondensed-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Input Mono';
src: url('font/InputMonoCondensed-BoldItalic.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}

body { font-family: 'Droid Serif'; }

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Input Mono'; }

h1 { font-size: 4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
.footnote {
  position: absolute;
  bottom: 3em;
  right: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.blue { color: #1437AD; }
.green { color: green; }
.orange { color: orange; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(24, 138, 114);
  text-decoration: none;
}
code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
  font-size: 16px;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 2em;
}

.left-50column {
  color: #1212fa;
  width: 48%;
  height: 92%;
  float: left;
}

.right-50column {
  color: #fa1212;
  width: 48%;
  height: 92%;
  float: right;
}

# Set page dimension to ease PDF export
# https://github.com/gnab/remark/issues/50#issuecomment-223887379
@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
